.app {/**/
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    /*Definindo as areas do site*/
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    /*definindo a quantidade de colunas do template*/
    grid-template-columns: auto;
    /*definindo a quantidade de linhas do template*/
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    /*definindo que esta é a area de cabeçalho*/
    display: flex;
    align-items: center;
    grid-area: cabecalho;
    padding: 0 2rem;
}
 
.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    grid-area: rodape;
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;

}